.error,
.message {
    background-color: lightgray;
    border: 2px solid;
    border-radius: 4px;
    margin: 3px 0px;
    padding: 8px;
    font-weight: bold;
}

.error {
    color: red;
    border-color: red;
}

.message {
    color: green;
    border-color: green;
}